.panel-add-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -18px;
}

.required {
    color:red;
}

.back-link {
    margin-left: 15px;
}

.btn-separator {
    margin-left: 5px;
}